* {

    font-style: italic;

}


.gran-total {
    color: white;
    background-image: linear-gradient(140deg, #9edeff 0, #74cafa 25%, #3cb5f2 50%, #00a0ea 75%, #008ce3 100%);
}


.A-1 {

    max-width: 60rem;
}

body {
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    max-width: 24%;
    margin: 0 auto;
    padding: 20px;
}


.img-a-1 {


    background-image: url('Data/img/A/A-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Estilos para el encabezado */
.container mt-5 {
    text-align: center;
}

.container mt-5 h1 {
    font-size: 36px;
}

/* Estilos para el botón "Productos" */
.btn.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

/* Estilos para la sección de formulario */
.col-md-6 {
    padding: 10px;
}

/* Estilos para la tabla de ventas */
.table {
    width: 100%;
}

/* Estilos para el pie de página */
.text-center.mt-4 p {
    font-size: 14px;
    color: #777;
}

/* Estilos para los botones de exportación */
.btn.btn-primary,
.btn.btn-success {
    margin: 5px;
}

/* Estilos para el pie de página final */
.text-center.mt-5 p {
    font-size: 12px;
    color: #999;
}

/* Estilos para el ícono del pie de página final */
.bi.bi-patch-check-fill {
    vertical-align: middle;
}